<h4>Agregar personaje</h4>

<form class=row (ngSubmit)="emitCharacter()">
    <input 
        [(ngModel)]="character.name" 
        class="form-control mb-2" 
        type="text"
        name="name"
        placeholder="Nombre"
    >
    <input 
        [(ngModel)]="character.power" 
        class="form-control mb-2" 
        type="number" 
        placeholder="Poder" 
        name="power"
    >
    <pre>{{character | json}}</pre>
    <button type="submit" class="btn btn-primary">Publicar</button>
</form>